<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello worlds</h1>
    <form action="/" method="POST">
        
        <input type="text" name="num1">
        <input type="text" name="num2">
        <button type="submit" formaction="/add" method="POST">add</button>
        <button type="submit" formaction="/sub" method="POST">sub</button>
        <button type="submit" formaction="/div" method="POST">div</button>
        <button type="submit" formaction="/mult" method="POST">mult</button>
    </form>
</body>
</html>